* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header-container,
.header,
.header-link-section,
.hero-container,
.hero,
.information-container,
.information-content-section,
.quote-container,
.cta-container,
.cta {
  display: flex;
}

body,
.header-container,
.hero,
.footer{
  background-color: #1F2937;
}

.header-logo,
.hero-header,
button {
  color: #F9FAF8;
}

.header-link-section a,
.hero-text,
.footer {
  color: #E5E7EB;
  font-size: 18px;
}

.header,
.hero,
.information,
.quote,
.cta {
  flex: 1;
  max-width: 1080px;
  margin: auto;
}

.header {
  gap: 20px;
  padding: 20px;
  align-items: baseline;
}

.header-logo{
  font-size: 24px;
}

.header-link-section {
  flex-grow: 1;
  gap: 1rem;
  justify-content: right;
}

.hero-container {
  margin-top: 0;
  padding-top: 0;
}

.hero {
  gap: 20px;
  margin: auto;
  padding: 100px 20px;
}

.hero-text,
.header-link-section {
  font-size: 18px;
}

.hero-header {
  font-size: 48px;
  font-weight: 900;
}

.hero-left,
.hero-right {
  flex: 1;
  min-width:0;
}

.hero-right img {
  max-width: 100%;
}

.hero-header,
.hero-text {
  margin-top: 0;
  padding-top: 0;
}

.information-container {
  background-color: white;
}

.information {
  padding: 20px;
}

.information-header {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.information-header,
.quote-text {
  color: #1F2937;
}

.information-content-section {
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.information-item {
  text-align: center;
  max-width: 150px;
}

.information-item img {
  box-sizing: border-box;
  max-width: 100%;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.quote-container {
  background-color: #E5E7EB;
  padding: 100px 20px;
  justify-content: center;
}

.quote {
  max-width: 800px;
}

.quote-text {
  margin: 0;
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
}

.quote-author {
  text-align: right;
}

.cta-container {
  background-color: white;
  padding: 100px;
}

.cta {
  color: white;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 50px;
}

.cta-header {
  font-size: 24px;
  font-weight: bold;
}

.cta-right {
  margin: auto;
}

.cta-left {
  flex: 1;
  min-width: 150px;
}

.cta,
button {
  background-color: #3882F6;
}

button {
  min-width: 140px;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
}

.cta button {
  border: 2px solid white;
}

.footer {
  padding: 40px;
  text-align: center;
}